<ion-header>
  <ion-toolbar>
    <ion-title class="page-title">
      Inicio
    </ion-title>
    <ion-buttons slot="end">
        <ion-button slot="icon-only" color="royal">
          <ion-icon name="person-add"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/shapes.svg" alt="" />
        <ion-card-header>
          <ion-card-title>
            Convierte tu idea en una aplicación!
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Haciendo clic en el botón de aquí abajo, haremos un aviso a los desarrolladores para que se pongan en contacto contigo, y de esa forma, podremos procesar tu idea para desarrollarla y añadirtela en tu lista de aplicaciones!.
          </p>
          <br>
          <ion-buttons slot="start">
            <ion-button>
              <ion-icon slot="start" name="add"></ion-icon>
              Clic aqui!
            </ion-button>
          </ion-buttons>
        </ion-card-content>
      </ion-card>
</ion-content>
