<ion-header>
  <ion-toolbar>
    <ion-title>
      Mis aplicaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar></ion-searchbar>
    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
              <img src="https://raw.githubusercontent.com/blockstack/blockstack-browser/3a2e2999ff86effaeb34ecc2199e29c7f6bd27b2/app/images/app-icon-lio-256x256.png">
            </ion-avatar>
            <ion-label>
              <h2>Aplicación 1</h2>
              <h3>Entregado</h3>
              <p>Descripción de ejemplo de la aplicación 1</p>
            </ion-label>
            <ion-icon slot="end" name="logo-apple"></ion-icon>
            <ion-button slot="end" fill="false">
                <ion-icon slot="icon-only" name="download"></ion-icon>
            </ion-button>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://raw.githubusercontent.com/blockstack/blockstack-browser/3a2e2999ff86effaeb34ecc2199e29c7f6bd27b2/app/images/app-icon-lio-256x256.png">
          </ion-avatar>
          <ion-label>
            <h2>Aplicación 2</h2>
            <h3>Finalizado y en proceso de pago</h3>
            <p>Descripción de ejemplo de la aplicación 2</p>
          </ion-label>
          <ion-icon slot="end" name="logo-android"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://raw.githubusercontent.com/blockstack/blockstack-browser/3a2e2999ff86effaeb34ecc2199e29c7f6bd27b2/app/images/app-icon-lio-256x256.png">
          </ion-avatar>
          <ion-label>
            <h2>Aplicación 3</h2>
            <h3>Entregado</h3>
            <p>Descripción de ejemplo de la aplicación 3</p>
          </ion-label>
          <ion-icon slot="end" name="logo-apple"></ion-icon>
          <ion-button slot="end" fill="false">
              <ion-icon slot="icon-only" name="download"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <img src="https://raw.githubusercontent.com/blockstack/blockstack-browser/3a2e2999ff86effaeb34ecc2199e29c7f6bd27b2/app/images/app-icon-lio-256x256.png">
          </ion-avatar>
          <ion-label>
            <h2>Aplicación 4</h2>
            <h3>En desarrollo</h3>
            <p>Descripción de ejemplo de la aplicación 4</p>
          </ion-label>
          <ion-icon slot="end" name="logo-android"></ion-icon>
        </ion-item>
      </ion-list>
</ion-content>
